# idea
.idea

# logs
logs/*.log
logs/*.log.*

# data
#data/

# models
models/*.pkl

# corpus
corpus/*.pkl

# notebooks checkpoints
notebooks/.ipynb_checkpoints
named-entity-recognizer/.ipynb_checkpoints

# spacy models
named-entity-recognizer/models/animals_persons
named-entity-recognizer/models/customized_ner
named-entity-recognizer/models/horse
named-entity-recognizer/models/wild

# experiments
named-entity-recognizer/experimentation
